* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.Main-container {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#editor > div:nth-child(2) {
  height: 100%;
  overflow: auto;
  flex-grow: 10;
}